    * {
        padding: 0;
        margin: 0;
    }
    
    body {}
    
    .container .card-2 {
        width: 600px;
        height: 400px;
    }
    
    .container .row-gen {
        padding-left: 20%;
        padding-top: 4%;
    }
    
    .container .row-gen .col .card-2 .size {
        width: 80%;
    }
    
    .container .row-gen .col .card-2 h5 {
        font-family: 'volhov';
        color: #181E4B;
        font-weight: 700;
    }