@import url('https://fonts.googleapis.com/css2?family=Epilogue&family=Playfair+Display+SC:wght@900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-nav {
    color: rgb(216, 47, 47);
}

.container {
    padding-top: 5%;
}

.container .african {
    text-transform: uppercase;
    font-size: 15px;
    color: #DF6951;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
}

.container h2 {
    font-family: 'volhov';
    font-weight: 700;
    font-size: 50px;
    color: #181E4B;
    line-height: 60px;
}

.container .enables {
    font-family: 'poppins';
    font-size: 16px;
    line-height: 20px;
    color: #5E6282;
    ;
}